@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}
<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row hold-transition img-background-center text-center" style="background-image: url('../../dist/img/mws_seal.png');">
            </div>
        </div>
    </section>
</div>


