@model IEnumerable<MWS.Web.Models.Disconnection>

@{
    ViewData["Title"] = "DisconnectionReceiving";
    Layout = null;
}

<head>
    <link rel="stylesheet" href="~/dist/css/table-with-totals.css">
    <script src="~/dist/js/html2pdf.bundle.js"></script>
    <script src="~/dist/js/table-with-parameter.js?@ViewData["Title"]"></script>
</head>

<a onclick="myAlert()" id="pdfGenerate">Please wait while PDF is still downloading...</a>

<section class="pdfGenerate">
    <table id="table" class="bordered-table">
        <caption>
            <div class="container">
          <div class="left-col">
            <img width="100" height="100" src="~/dist/img/mws_seal.png" class="mws-seal">
          </div>
          <div class="right-col">
            <h3 class="main-header">MAGALLANES WATER SYSTEM</h3>
            <p class="sub-header">Province of Cavite</p>
            <p class="address-cta">Municipality of Magallanes, Cavite</p>
            <h3 class="notice-cta">NOTICE OF DISCONNECTION RECIPIENTS</h3>
            <p class="barangay-cta">@Html.DisplayNameFor(model => model.Barangay)</p>
          </div>
        </div>
        </caption>
    <thead>
        <tr>
            <th>
                <p>Name</p>
            </th>
            <th>
                <p>Account No</p>
            </th>
            <th>
                <p>Meter No</p>
            </th>
            <th>
                <p>Received By&nbsp;&nbsp;</p>
            </th>
            <th>
                <p>Date Received</p>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                <p>@item.Name</p>
            </td>
            <td>
                <p>@item.AcctNo</p>
            </td>
            <td>
                <p>@item.MeterNo</p>
            </td>
            <td>
                <p class="box">&nbsp;</p>
            </td>
            <td>
                <p class="box">&nbsp;</p>
            </td>
        </tr>
        <tr class="page-break"></tr>
        }
    </tbody>
</table>
</section>

