@model MWS.Web.Models.CustomersSummary

@{
    ViewData["Title"] = string.Format("{0} {1}", Model.AcctNo, "Official Receipt");
    Layout = null;
}

<head>
    <link rel="stylesheet" href="~/dist/css/report-layout-pdf.css" type="text/css">
    <script src="~/dist/js/or-print.js"></script>
    <script src="~/dist/js/html2pdf.bundle.js"></script>
    @* <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script> *@
    <style type="text/css">
         .tab-left {
             margin-left:50px;
             
         }
        .tab-left-words {
            margin-left:20px;

        }
         .font-or {
            font-size:14px;
         }
    </style>
</head>
<a onclick="myAlert()" id="pdfGenerate"></a>

<section class="pdfGenerate">
    
    <div id="waterbill" style="border-collapse:collapse;margin-left:5.565pt" cellspacing="0">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
        <br />
        <h3 class="tab-left">@DateTime.Now </h3>
        <br />
        <p class="tab-left font-or">Name: Jok Garcia</p>
        <p class="tab-left font-or">Account B-123456</p>
    <p class="tab-left font-or">Address: Brgy. Baliwag, Magallanes</p>

    <br />
    <br />
    <br />
    <p class="tab-left font-or">Water Bill Payment         1,500.00</p>
    <p class="tab-left font-or">11 / 2024 </p>
        <p class="tab-left font-or">00000134565678</p>
    <br />
    <br />
    <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <p class="tab-left-words font-or"><b>Four Hundred Thirty Eight Pesos and No Cents</b></p>
    </div>
</section>