@model MWS.Web.Models.CustomersSummary

@{
    ViewData["Title"] = string.Format("{0} {1}", Model.AcctNo, "Official Receipt");
    Layout = null;
}

<head>
    <link rel="stylesheet" href="~/dist/css/report-layout-pdf.css" type="text/css">
    <script src="~/dist/js/or-print.js"></script>
    <script src="~/dist/js/html2pdf.bundle.js"></script>
    @* <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script> *@
    <style type="text/css">
         .tab-left {
             margin-left:20pt;
             
         }
        .tab-left-words {
            margin-left:18pt;

        }
         .font-or {
            font-size:12pt;
         }
    </style>
</head>
<a onclick="myAlert()" id="pdfGenerate"></a>

<section class="pdfGenerate">
    
    <div id="waterbill" style="border-collapse:collapse;margin-left:5.565pt !important; font-family:'Comic Sans MS' !important" cellspacing="0">
    <div style="margin-top: 13pt !important;"> </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
        <br />
        <h3 style="font-size:15pt !important;font-family:'Comic Sans MS' !important">@DateTime.Now </h3>
        <br />
        <p style="font-size:12pt !important;font-family:'Comic Sans MS' !important">Name: Jok Garcia</p>
        <p style="font-size:12pt !important;font-family:'Comic Sans MS' !important">Account B-123456</p>
        <p style="font-size:12pt !important;font-family:'Comic Sans MS' !important">Address: Brgy. Baliwag, Magallanes</p>

    <br />
    <br />
    <br />
        <br />
        <br />
        <p style="font-size:12pt !important;font-family:'Comic Sans MS' !important">Water Bill Payment <span style="margin-left: 100pt !important;font-size:12pt !important">1,500.00</span></p>
        <p style="font-size:12pt !important;font-family:'Comic Sans MS' !important">11 / 2024 </p>
        <p style="font-size:12pt !important;font-family:'Comic Sans MS' !important">00000134565678</p>
    <br />
    <br />
    <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <p style="font-family:'Comic Sans MS' !important;font-size:12pt !important;"><b>Four Hundred Thirty Eight Pesos and No Cents</b></p>
    </div>
</section>