@model MWS.Web.Models.AddFeesViewModel

@{
    ViewData["Title"] = "Fee";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}

<div>
    <form method="post" asp-action="AddNewFee">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Consumer Summary of Transactions</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                            <li class="breadcrumb-item"><a href="/ConsumersSummary/Index">Consumers List</a></li>
                            <li class="breadcrumb-item"> <a href="javascript:void(0);" onclick="history.go(-1);">Details</a></li>
                            <li class="breadcrumb-item active">Add Fees</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <section id="consumer-account-details" class="content">
            <div class="container-fluid">

                <div class="row">
                    <!-- left column -->
                    <div class="col-md-12">
                        <!-- general form elements -->
                        <div class="card card-secondary">
                            <div class="card-header">
                                <h3 class="card-title">ACCOUNT INFORMATION</h3>
                            </div>
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Account Number:</label>
                                            <input type="text" asp-for="AccountNo" class="form-control" id="accountno" readonly>
                                            <input type="hidden" asp-for="CustomerId" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Name:</label>
                                            <input type="text" asp-for="Name" class="form-control" id="name" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Meter Number:</label>
                                            <input type="text" asp-for="MeterNo" class="form-control" id="meterno" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label>Address:</label>
                                            <input type="text" asp-for="Address" class="form-control" id="Address" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Account Type:</label>
                                            <input type="text" asp-for="AccountType" class="form-control" id="Status" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="consumer-add-fees" class="content">
            <div class="container-fluid">

                <div class="row">
                    <!-- left column -->
                    <div class="col-md-12">
                        <!-- general form elements -->
                        <div class="card card-secondary">
                            <div class="card-header">
                                <h3 class="card-title">ADD FEES</h3>
                            </div>
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Current Balance:</label>
                                            <input type="text" asp-for="CurrentBalance" class="form-control" id="currentbalance" readonly>
                                        </div>
                                    </div><div class="col-md-3">
                                        <div class="form-group">
                                            <label>Type of Fee:</label>
                                            <select asp-for="TypeOfFee" class="form-control" id="typeoffee" onchange="computeAddFees()">
                                                <option disabled selected> -- select an option -- </option>
                                                <option>Transfer Charge</option>
                                                <option>Connection Fee</option>
                                                <option>Surcharge</option>
                                                <option>Others</option>
                                            </select>
                                        </div>
                                    </div><div class="col-md-3">
                                        <div class="form-group">
                                            <label>Amount:</label>
                                            <input type="text" asp-for="Amount" class="form-control" id="amount" readonly onchange="computeCustomFees()">
                                        </div>
                                    </div><div class="col-md-3">
                                        <div class="form-group">
                                            <label>New Balance:</label>
                                            <input type="text" asp-for="NewBalance" class="form-control" id="newbalance" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 offset-md-3" id="otherfee" hidden>
                                        <div class="form-group">
                                            <input type="text" asp-for="Others" class="form-control" id="others">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <a class="btn btn-danger" href="javascript:void(0);" onclick="history.go(-1);"><i class="fa fa-window-close"></i> CLOSE</a>
                                <a id="savefeebutton" class="btn btn-primary" data-toggle="modal" data-target="#modal-default" hidden><i class="fa fa-save"></i> SAVE</a>
                                <div class="modal fade" id="modal-default">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Add Fees</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Are you sure you want to record the following fee for this account?</p>
                                            </div>
                                            <div class="modal-footer justify-content-between">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-window-close"></i> NO</button>
                                                <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> YES</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
</div>
<script>

    
    let savefeebutton = document.getElementById('savefeebutton')

    function computeAddFees() {
        let amount = document.getElementById('amount');
        let typeValue = document.getElementById('typeoffee').value;
        if (typeValue == "Transfer Charge") {
            amount.value = 200;
        } else if (typeValue == "Connection Fee") {
            amount.value = 150
        } else if (typeValue == "Surcharge") {
            amount.value = 60;
        }
        let currentBalanceValue = document.getElementById('currentbalance').value;
        
        let newBalance = document.getElementById('newbalance');
        let otherfee = document.getElementById('otherfee');
        if (typeValue != "Others") {
            otherfee.hidden = true;
            amount.readOnly = true;           
            newBalance.value = parseFloat(currentBalanceValue) - amount.value;
        } else {
            otherfee.hidden = false;
            amount.value = 0;
            amount.readOnly = false;
            newBalance.value = parseFloat(currentBalanceValue) - amount.value;

        }
        savefeebutton.hidden = false;
    }
    function computeCustomFees() {
        let amount = document.getElementById('amount');
        let typeValue = document.getElementById('typeoffee').value;
        if (typeValue == "Transfer Charge") {
            amount.value = 200;
        } else if (typeValue == "Connection Fee") {
            amount.value = 150
        } else if (typeValue == "Surcharge") {
            amount.value = 60;
        }
        let currentBalanceValue = document.getElementById('currentbalance').value;  
        let newBalance = document.getElementById('newbalance');
        if (typeValue == "Others") {
            newBalance.value = parseFloat(currentBalanceValue) - amount.value;
        } else {           
            newBalance.value = parseFloat(currentBalanceValue) - amount.value;
            amount.readOnly = true;
            otherfee.hidden = true;
        }
    }

</script>