@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "Consumer List";
    Layout = "_Layout";
}

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Consumer List</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                        <li class="breadcrumb-item active">Consumers Data</li>
                    </ol>
                </div>
            </div>
        </div>
    </section> 
    <section id="consumer-list" class="content">
        <div class="container-fluid">
            <div class="tab-pane fade show active" id="custom-tabs-five-overlay" role="tabpanel" aria-labelledby="custom-tabs-five-overlay-tab">

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <table id="example2" data-widget="expandable-table" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Account No.</th>                                           
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var role in Model)
                                        {
                                            <tr>
                                                <td>@role.</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                               @* <a class="btn btn-primary wd-50" asp-controller="ConsumersData" asp-action="Create"> <i class="fa fa-plus-square"></i> NEW CONSUMER</a>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>