@model MWS.Web.Models.Customer

@{
    ViewData["Title"] = "Create";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}

<div>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>New Consumer</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                        <li class="breadcrumb-item"><a href="/ConsumersData/Index">Consumer List</a></li>
                        <li class="breadcrumb-item active">New Consumer</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title">ACCOUNT INFORMATION</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form method="post" asp-action="Create">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="Lname"></label>
                                            <input type="text" asp-for="Lname" class="form-control" id="inputLastName" placeholder="Last Name" oninput="this.value = this.value.toUpperCase()">
                                            <span asp-validation-for="Lname" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="Fname"></label>
                                            <input type="text" asp-for="Fname" class="form-control" id="inputFirstName" placeholder="First Name" oninput="this.value = this.value.toUpperCase()">
                                            <span asp-validation-for="Fname" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="Mi"></label>
                                            <input type="text" asp-for="Mi" class="form-control" id="inputMiddleName" placeholder="Middle Name" oninput="this.value = this.value.toUpperCase()">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="UnitNo"></label>
                                            <input type="text" asp-for="UnitNo" class="form-control" id="inputUnitNo" placeholder="Unit #">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="Street"></label>
                                            <input type="text" asp-for="Street" class="form-control" id="inputStreetName" placeholder="Street Name">
                                             <span asp-validation-for="Street" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="Barangay"></label>
                                            <select asp-for="Barangay" class="form-control" asp-items="@(new SelectList(ViewBag.Barangay,"Brgy", "Brgy"))"></select>
                                            <span asp-validation-for="Barangay" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="AcctType"></label>
                                            <select asp-for="AcctType" class="form-control" asp-items="@(new SelectList(ViewBag.Brackets))"></select>
                                            <span asp-validation-for="AcctType" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="AcctNo"></label>
                                            <input type="text" asp-for="AcctNo" class="form-control" id="inputAcctNo" placeholder="Account Number">
                                            <span asp-validation-for="AcctNo" class="text-danger"></span>
                                            <div style="color:red">@TempData["AcctNoCheck"]</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="MeterNo"></label>
                                            <input type="text" asp-for="MeterNo" class="form-control" id="inputMeterNo" placeholder="Meter Number">
                                            <span asp-validation-for="MeterNo" class="text-danger"></span>
                                            <div style="color:red">@TempData["MeterCheck"]</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="Status"></label>
                                            <select asp-for="Status" class="form-control">
                                                <option>Open</option>
                                                <option>T-Closed</option>
                                                <option>Closed</option>
                                            </select>
                                            <span asp-validation-for="Status" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input asp-for="Senior" class="custom-control-input" type="checkbox" name="Senior" />
                                                <label asp-for="Senior" class="custom-control-label">Senior Citizen</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-body -->

                                <div class="card-footer">
                                    <button onclick="_close()" class="btn btn-danger"><i class="fa fa-window-close"></i> CLOSE</button>
                                    @*<button asp-action="Index" class="btn btn-danger"><i class="fa fa-window-close"></i> CLOSE</button>*@
                                    <a class="btn btn-primary" data-toggle="modal" data-target="#modal-default"><i class="fa fa-save"></i> SAVE</a>
                                    <div class="modal fade" id="modal-default">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Add New Consumer</h4>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Are you sure you want to add new consumer?</p>
                                                </div>
                                                <div class="modal-footer justify-content-between">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-window-close"></i> CANCEL</button>
                                                    <form method="post" asp-action="Create">
                                                        <button type="submit" class="btn btn-primary toastrAddConsumerSuccess"><i class="fa fa-check"></i> YES</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
<script>
    function _close() {
        window.close();
    }
</script>