@{
    ViewData["Title"] = "Reports";
    Layout = "_Layout";
}

<div class="content-wrapper">
    <table cellpadding="0" cellspacing="0">
        <tr class="top">
            <td colspan="2">
                <table>
                    <tr>
                        <td class="title">
                            <img width=80 height=80 src="~/dist/img/mws_seal.png">
                        </td>
                        <td>
                           <h2 style="text-align: center;" >MAGALLANES WATER SYSTEM</h2>
                           <h5>Municipality of Magallanes, Cavite</h5>
                           <h6>Contact Nos: (09958248272) (00000000000)</h6>
                           <h4>NOTICE OF DISCONNECTION</h4>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr class="information">
            <td colspan="2">
                <table>
                    <tr>
                        <td>
                            No:<br>
                            Customer:<br>
                            County, L12 3456
                        </td>

                        <td>
                            <u>77777 </u><br>
                            <u>John Doe</u><br>
                            john@example.com
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr class="heading">
            <td>
                Payment Method
            </td>

            <td>
                Card
            </td>
        </tr>

        <tr class="heading">
            <td>
                Item
            </td>

            <td>
                Price
            </td>
        </tr>
    </table>
</div>